.post {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  background: #1500ff;
  transition: 0.3s;
}

.post:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 120px;
}
container{
  background:color(from #1500ff); 
}